<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>

<body style="margin: -7.5px;">

  <h1 class="parallax" style="font-size: 25px;
  color: grey;
  text-align: center;"><span style="margin-left: 10px;">Gowtham & Priyadharshini</span></h1>

  <!-- <div class="welcome_background" [ngStyle]="{'background-image': 'url(' + couple + ')'}">
  </div> -->
  <img class="couple" src="{{couple}}" />

  <!-- <img class="two" src="{{couple}}" width="300" height="300"> -->

  <div style="text-align: center;" class="animate-left">
    <p><img src="assets/flower.gif" style="height:150px;" alt=""></p>
    <h1>Let Me Tell You A Kutty Story</h1>

    <p style="font-size: 20px;line-height: 35px;">

      I never believed in destiny until I met you opposite to my desk.
      Let's give some way for a happy beginning with this thought
      <br>

      "Iam his first and last and he is my one
      and only"
<br>

      <span>"</span>Most people get married believing a
      myth that marriage is a beautiful box full of all the things
      they have longed for companionship, intimacy, friendship, etc.
      The truth is that marriage at the start is an empty box. we must put something in before we can take anything out.
      There is no love in marriage, Love is with the couple and as a couple we put love into our marriage. There is no
      romance in marriage. We need to infuse it into our marriage.
      As a couple we must learn the art and form the habit of giving, loving, serving, praising keeping the box full. If
      we put in more, we as a couple can take out more.<span>"</span> — Us
    </p>

  </div>

  <!-- <div class="coverpic_background animate-left" [ngStyle]="{'background-image': 'url(' + background + ')'}">
    <div id="overlay" style="color:white;text-align: center;">
      <p><img src="assets/savedate.gif" height="200px" alt=""></p>
      <h1>The League Club</h1>
      <h3>Getting engaged on</h3>
      <h2>August 31st, 2020</h2>
      <h3>105, Jawaharlal Nehru Rd,<br>Annai Sathya Nagar, Arumbakkam,
        Chennai - 600026</h3>
      <h3>Time : 4:30 PM - 6:00 PM</h3>
    </div>
  </div> -->

  <div style="text-align: center;font-size: 20px;color: #ff6d6d;font-weight: 600;">
    <p><img src="assets/flower.gif" style="height:150px;" alt=""></p>
    <div>
      <h1>Wedding Details</h1>
      <h3>When & Where</h3>
    </div>
  </div>

  <table style="margin: auto;">

    <tr class="animate-left">
      <th>
        <div style="color: #ff6d6d;">
          <img src="assets/wedding.jpg" alt="" style="width: 80%;border-radius: 50%;">
          <h3>The Muhurtham</h3>
          <p>Sept 03rd Friday</p>
          <p>6:05 A.M - 7:16 A.M</p>
        </div>

      </th>
      <th>
        <div style="color: #ff6d6d;">
          <img src="assets/reception.jpg" alt="" style="width: 80%;border-radius: 50%;">
          <h3>The Reception</h3>
          <p>Sept 02nd Thursday</p>
          <p>6:30 P.M Onwards</p>
        </div>
      </th>
    </tr>

  </table>

  <div class="coverpic_background animate-left" [ngStyle]="{'background-image': 'url(' + meet + ')'}">
    <div id="overlay" style="color:white;text-align: center;">
      <p><img src="assets/savedate.gif" height="200px" alt=""></p>
      <h2 style="font-size: 40px;">T.S.S Nadar Thirumana Mandapam</h2>
      <h3>Meet Us At</h3>
      <h2>
        September 03rd, 2021
      </h2>
      <h3> No.45/69, Thangal,<br>Thiruvottiyur High Road,Thiruvottiyur<br>
        Chennai - 600019.</h3>
    </div>
  </div>

  <div style="text-align: center;" class="animate-left">
    <div>
      <p><img src="assets/flower.gif" style="height:150px;" alt=""></p>
      <!-- <h3>Reception Live On 02nd September 2021</h3> -->
      <h1>Countdown Clock</h1>
      <div id="clockdiv">
        <div>
          <div class="smalltext">Days</div>
          <span id="days"></span>
        </div>
        <div>
          <div class="smalltext">Hours</div>
          <span id="hours"></span>
        </div>
        <div>
          <div class="smalltext">Mins</div>
          <span id="mins"></span>
        </div>
        <div>
          <div class="smalltext">Secs</div>
          <span id="secs"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="thnx" [ngStyle]="{'background-image': 'url(' + thanksbg + ')'}">
    <div id="overlay" style="color:white;text-align: center;">
      <p><img src="assets/thanx.gif" style="height:300px;margin-top: 20px;" alt=""></p>
    </div>
  </div>

</body>

</html>


<router-outlet></router-outlet>